<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">

    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Student Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/students/new}">New Student</a>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item dropdown">

                </li>
                <li class="nav-item">

                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br /> <br /> <br />

<table class="table table-borderless table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Student First Name</th>
        <th scope="col">Student Last Name</th>
        <th scope="col">Student Email</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}" >
        <th scope="row" th:text="${student.id}"></th>
        <td th:text="${student.firstname}"></td>
        <td th:text="${student.lastname}"></td>
        <td th:text="${student.email}"></td>
        <td >
            <a class="btn btn-primary" th:href="@{/student/{studentid}/edit(studentid=${student.id})}">Edit</a>
            <a class="btn btn-danger" th:href="@{/student/{studentid}/delete(studentid=${student.id})}">Delete</a>
            <a class="btn btn-info" th:href="@{/student/{studentid}/view(studentid=${student.id})}">View</a>



        </td>
    </tr>

    </tbody>
</table>

</body>
</html>